<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!DOCTYPE html>
<html>

<head>
  <title>Example</title>
</head>

<body>


<table>
  <thead>

  </thead>
  <tbody>


  </tbody>
</table>

<p>  <input [(ngModel)]="num" placeholder="2"></p>
<p>  <input [(ngModel)]="num1" placeholder="4"></p>


<button (click)="math()">button</button>
<p>Среднее арифметическое:  {{arf}} </p>
<p>Среднее геометрическое:  {{geom}} </p>
</body>
</html>
