<table mat-table [dataSource]="voters" class="mat-elevation-z8">

  <ng-container matColumnDef="Імя">
    <th mat-header-cell *matHeaderCellDef>Ім'я</th>
    <td mat-cell *matCellDef="let element" (click)="openDialog(element.uuid)"> {{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef>Стать</th>
    <td mat-cell *matCellDef="let element" (click)="openDialog(element.uuid)"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="birhDate">
    <th mat-header-cell *matHeaderCellDef>День народження</th>
    <td mat-cell *matCellDef="let element" (click)="openDialog(element.uuid)"> {{element.birthDate}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Вік</th>
    <td mat-cell *matCellDef="let element" (click)="openDialog(element.uuid)"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="isfavorite">
    <th mat-header-cell *matHeaderCellDef>Вибрати</th>
     <td mat-cell *matCellDef="let element"> <input type="checkbox" [value]="element.uuid" (change)="onCheckboxChange($event)"> </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
